@media (max-width: 600px) {
    body {
        background-color: black;
    }
}
a {
    color: white;
}

a:hover {
    color: steelblue;
}

table{
    width: 100%;
    position: relative;
    align-items: center;
    margin-top: 10px;
}
